@import url('https://fonts.googleapis.com/css?family=Handlee');
html{
	font-family: 'Handlee', cursive;
}
/* COLORES DE LOS INPUT DEL FORMULARIO   */

 /* label color */
   .input-field label {
     color: #ff9900;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ff9900;
   }
/* ----------------- type email ---------------*/
     /* label focus color */
     .input-field input[type=email]:focus + label {
       color: #ff9900;
     }
     /* label underline focus color */
     .input-field input[type=email]:focus {
       border-bottom: 1px solid #ff9900;
       box-shadow: 0 1px 0 0 #ff9900;
     }
     /* valid color */
     .input-field input[type=email].valid {
       border-bottom: 1px solid #ff9900;
       box-shadow: 0 1px 0 0 #ff9900;
     }
     /* invalid color */
     .input-field input[type=email].invalid {
       border-bottom: 1px solid #ff9900;
       box-shadow: 0 1px 0 0 #ff9900;
     }

/* -------------- type text  ------------------- */
  /* label focus color */
     .input-field input[type=text]:focus + label {
       color: #ff9900;
     }
     /* label underline focus color */
     .input-field input[type=text]:focus {
       border-bottom: 1px solid #ff9900;
       box-shadow: 0 1px 0 0 #ff9900;
     }
     /* valid color */
     .input-field input[type=text].valid {
       border-bottom: 1px solid #ff9900;
       box-shadow: 0 1px 0 0 #ff9900;
     }
     /* invalid color */
     .input-field input[type=text].invalid {
       border-bottom: 1px solid #ff9900;
       box-shadow: 0 1px 0 0 #ff9900;
     }
  /* -------------- type password -------------- */

  /* label focus color */
   .input-field input[type=password]:focus + label {
     color: #ff9900;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #ff9900;
     box-shadow: 0 1px 0 0 #ff9900;
   }
   /* valid color */
   .input-field input[type=password].valid {
     border-bottom: 1px solid #ff9900;
     box-shadow: 0 1px 0 0 #ff9900;
   }
   /* invalid color */
   .input-field input[type=password].invalid {
     border-bottom: 1px solid #ff9900;
     box-shadow: 0 1px 0 0 #ff9900;
   }
 /* --------------- type checkbox  ----------------*/

.checkbox-orange[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #ff9900;
     background-color: #ff9900;
}


/* custom css  */

.bold{
	font-weight: bold;
} 
.naranja{
	background:#ff9900 !important;
}
.naranja-text{
	color:#ff9900 !important;
}
.gris-oscuro{
 background: #1b100c;
}
.gris-oscuro-text{
  color:#1b100c;
}

.div-naranja{
  border:1px solid #ff9900;
}
.moulin{
  background: url("../images/moulin.png");
  background-attachment: fixed;
}
.gww{
  background: url("../images/grey_wash_wall.png");
}
.fos{
  background: url("../images/fos.png");
}
.principal{
  background: url("../images/food.png");
}
.comida{
  background:url("../images/comida3.png");
}
#dropdown1 div {
  padding: 0;
}
#dropdown1 li{
  padding-left: 10px;
  padding-top: 15px;
}
#dropdown1{
  border: 2px solid #ff9900;
}
.col-menu{
  border-right: 1px solid #ff9900;
}
.bord-naranja{
  border:2px solid #ff9900;
}
nav ul a{
  padding:0px 10px;
}
nav ul a.btn{
  margin-left: none;
  margin-right: 5px;
  padding:0px 0.5rem !important;
  text-transform: lowercase;
}
