.contenido{
      padding-left: 300px !important;
    }

    @media only screen and (max-width : 992px) {
    	.contenido, footer{
        padding-left: 0px !important;
      }
    }
.sugerencias a{
  margin-right: 15px;
}
.sugerencias a:hover{
  border-bottom:1px solid #ff9900;
}
.bold{
	font-weight: bold;
}
nav.navbar{
	height:73px;
	line-height: 73px;
}
.cerrar-sesion{
	line-height: 45px;
	margin-top: 13px;
	border-radius: 20px 0px 0px 20px;
}
.side-nav .userView>a.halfway-fab{
	height:40px;
} 
/* datepicker styles */ 
.picker__date-display{
	background-color: #ff9900
}
.picker__weekday-display{
	background-color: #ffab2d;
}
.picker__day .picker__day--infocus .picker__day--today .picker__day--highlighted{
	color:#ff9900;
	font-weight: bold;
}

.picker__close, .picker__today{
	color:#ff9900;
	font-weight: bold;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
	background-color: #ff9900;
}
.picker__day.picker__day--today{
	color: #ff9900;
}
.login-box {
  height: 100%;
}
.dropdown-content li>a, .dropdown-content li>span{
	color:#FF9900;
} 